# Flask secret key.
# You must generate it like this in order to use cryptography package:
# ```
# from cryptography.fernet import Fernet
# key = Fernet.generate_key()
# ```
FLASK_SECRET_KEY=

# Address of database. PostgreSQL is expected in production, but not required
DATABASE_URL=postgresql+psycopg2://<user>:<password>@<host>:<port>/<db_name>

# API token of Telegram bot from @BotFather
TELEGRAM_API_BOT_TOKEN=
