<!DOCTYPE html>
<html lang="en">


<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <link rel="manifest" href="{{ url_for('static', filename='manifests/manifest.webmanifest') }}">
  <meta name="msapplication-config" content="{{ url_for('static', filename='manifests/browserconfig.xml') }}">

  <link rel="shortcut icon" href="{{ url_for('static', filename='favicons/favicon.ico') }}">
  <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='favicons/favicon-32x32.png') }}">
  <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='favicons/favicon-16x16.png') }}">
  <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='favicons/apple-touch-icon.png') }}">
  <link rel="mask-icon" href="{{ url_for('static', filename='favicons/safari-pinned-tab.svg') }}" color="#5bbad5">
  <meta name="msapplication-TileColor" content="#00a300">
  <meta name="theme-color" content="#ffffff">

  <title>
    {% block title %}
      {% if title %}
        {{ title }}
      {% else %}
        {{ config["PROJECT_APP_NAME"] }}
      {% endif %}
    {% endblock %}
  </title>

  {% block head %}
  {% endblock %}
</head>


<body>
  {% block start_body %}
  {% endblock %}

  {% block body %}
    {% block header %}
    {% endblock %}

    {% block main %}
    {% endblock %}

    {% block footer %}
    {% endblock %}
  {% endblock %}

  {% block end_body %}
  {% endblock %}
</body>


</html>
