{% extends "html5.html" %}

{% import "macros.html" as macros %}


{% block head %}
  {{ macros.forbid_access_for_robots() }}
  {{ macros.css_file("telegram_bot/yd_auth/common.css") }}
  {{ macros.google_analytics() }}
  {{ macros.js_file("telegram_bot/yd_auth/analytics.js") }}
{% endblock %}


{% block title %}
  {{ gettext("Authorization Failed") }}
{% endblock %}


{% block main %}
  <main data-status="{{ error_code }}">
    <h1>
      {% if error_title %}
        {{ error_title | title }}
      {% else %}
        {{ gettext("Unknown Error") }}
      {% endif %}
    </h1>

    <p>
      {% if error_description %}
        {{ error_description }}
      {% else %}
        {{ gettext("Granting of access to %(project_name)s failed due to an unknown error.", project_name=config["PROJECT_APP_NAME"]) }}
      {% endif %}
    </p>

    {% if not error_title %}
      <div class="report-problem-container">
        {% set issue_href = macros.href(
            config['PROJECT_URL_FOR_ISSUE'],
            gettext("report a problem"),
            "_blank"
          )
        %}

        {{ gettext("You may %(action)s. Here is a data for debugging purposes:", action=(issue_href | trim)) }}
        <br />
        {{ gettext("Title: %(title)s", title=(raw_error_title or "?")) }}
        <br />
        {{ gettext("Description: %(description)s", description=(raw_error_description or "?")) }}
        <br />
        {{ gettext("State: %(state)s", state=(raw_state or "?")) }}
      </div>
    {% endif %}
  </main>
{% endblock %}
