{% extends "html5.html" %}

{% import "macros.html" as macros %}


{% block head %}
  {{ macros.forbid_access_for_robots() }}
  {{ macros.css_file("telegram_bot/yd_auth/common.css") }}
  {{ macros.google_analytics() }}
  {{ macros.js_file("telegram_bot/yd_auth/analytics.js") }}
  {{ macros.js_file("telegram_bot/yd_auth/index-success.js") }}
{% endblock %}


{% block title %}
  Successfully Authorized
{% endblock %}


{% block main %}
  <main data-status="success">
    <h1>
      {{ gettext('Success') }}
    </h1>

    <p>
      {{ gettext("You've successfully granted an access to %(project_name)s.", project_name=config["PROJECT_APP_NAME"]) }}
    </p>

    <p
      class="redirect-message"
      id="redirect-message"
      data-redirect-url="{{ config['PROJECT_URL_FOR_BOT'] }}"
    >
    </p>
  </main>
{% endblock %}
